:root {
    --color: red
}

body {
    & main {
        & div {
            & h1 {
                background-color: var(--color);
                &:hover{
                    color: blue
                }
            }
        }
    }
}

body main div h1{
    
}